@use "../Scss/" as *;

.banner {
    //margin-top:0px;

    //padding-top:50px;
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }
}



.movie-content {
    @include flex(flex-start, flex-start);
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;

    &__poster {
        flex: 1;

        @include mobile {
            display: none;
        }

       
     
    }
    &__img {
        width: '100vw';
        height: '100vh';
        //background-size:400px 500px !important; 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $border-radius;
        padding-top: 165%;
        
    }

    &__info {
        
        //border:2px solid orange;
        width: 70%;
        padding-left: 2rem;
        position: relative;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }

        & > * {
            margin-bottom: 2rem;
        }

        .title {
            font-size: 4rem;
            line-height: 1;
        }

        .genres {
            & > * ~ * {
                margin-left: 0.5rem;
            }

            &__item {
                padding: 0.5rem 1.5rem;
                border: 2px solid $white;
                border-radius: $border-radius;
                font-size: 0.8rem;
                font-weight: 600;
                background-color: $body-bg;
            }
            &__item:hover{
                
                border: 2px solid red;
            }
            
        }
      
    }
}


.casts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;

    &__item {
        &__img {
            border : 2px solid white;
            //margin-left: 10px;
            margin-top: 10px;
            border-radius: 15px;
            padding-top: 160px;
            background-size: cover;
            margin-bottom: 0.5rem;
           
        }
        &__img:hover{
            transform: scale(1.1);
            border : 2px solid red;
        }

        &__name {
            font-size: 0.8rem;
        }
    }
}




body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;

    background-color: $body-bg;
    color: $txt-color;

    @include mobile {
        margin-bottom: 3rem;
    }
}


// .mb-3 {
//     margin-bottom: 3rem;
// }

// .section__header {
//     @include flex(center, space-between);
// }

// .container {
//     max-width: 1660px;
//     margin: auto;
// }

// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     -webkit-tap-highlight-color: transparent;
// }

// html {
//     font-size: 100%;

//     @include tablet {
//         font-size: 80%;
//     }

//     @include mobile {
//         font-size: 60%;
//     }
// }

// .overview{
//     font-weight: 700;
// }

// .title {
//     font-size: 4rem;
//     line-height: 1;
// }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 100%;

    @include tablet {
        font-size: 80%;
    }

    @include mobile {
        font-size: 60%;
    }
}

body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;

    background-color: $body-bg;
    color: $txt-color;

    @include mobile {
        margin-bottom: 3rem;
    }
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
}

.container {
    max-width: 1660px;
    margin: auto;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.section {
    padding: 0 2rem;
}

.section__header {
    @include flex(center, space-between);
}

